.todo-content-style {
  font-family: "Indie Flower", cursive;
  font-size: 18px;
}
.todo-form-style {
  background-color: #999999;
}
.todo-title-style {
  font-family: "Permanent Marker", cursive;
  font-size: 30px;
}
