<!-- TODO: polish this up -->
<nav id="sharedNavbar"
     class="navbar navbar-expand-md navbar-light bg-success justify-content-end fixed-top">
  <a href="#" class="navbar-brand trademark-cus-font">RBA</a>
  <button class="navbar-toggler ml-auto ml-sm-0 mr-1 bg-warning" type="button"
          data-toggle="collapse" data-target="#navbarLinks"
          aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle expansion of navbar links">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarLinks"
       class="collapse navbar-collapse flex-grow-0 container-fluid bg-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="#" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">About</a>
      </li>
      <li class="nav-item d-inline d-sm-none">
        <a href="#"
           class="nav-link disabled">
          Contact
        </a>
      </li>
    </ul>
  </div>
</nav>
